* {
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
}

ul {
    list-style-type: none;
}

.container {
    display: flex;
    flex: 1;
    flex-direction: column;
    outline: auto;
    padding-left: 10%;
    padding-right: 10%;

}
.header {
    outline: solid red;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 100px;

}

.logo {
    font-weight: bolder;
    font-size: 26px;
}

.links {
    display: flex;
    align-items: center;
    gap: 20px;
}

.links a {
    color: grey;
}

.top-part {
    outline: solid blue;
    display: flex;
    justify-content: space-between;
}

.text-part {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.big-text {
    font-size: x-large;
    font-weight: bolder;
}


.button {
    max-width: 100px;
}

.grey-box {
    display: flex;
    flex-shrink: 0;
    align-items: center;
    min-height: 200px;
    min-width: 200px;
    background-color: grey;
}



.quote {
    outline: solid orange;
    display: flex;
    flex-direction: column;
    padding: 100px;
    font-size: 25px;
    font-style: italic;

}

.atrribute {
    display: flex;
    justify-content: flex-end;
    font-size: x-large;
    font-weight: bolder;
}

.call-to-action{
    outline: solid green;
    display: flex;
    justify-content: space-between;
    background-color: #0071ce;
    border-radius: 5px;
    margin: 50px;
    padding: 40px;
    padding-right: 100px;
    padding-left: 100px;

}
.call-to-action-text {
    display: flex;
    flex-direction: column;
    color: white;
}
.slightly-larger-text {
    font-size: x-large;
}

.footer {
    outline: solid purple;
    display: flex;
    justify-content: center;
    padding: 20px;
}
